USE [master]
GO
/****** Object:  Database [CallIT]    Script Date: 8/15/2017 8:07:23 PM ******/
CREATE DATABASE [CallIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CallIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CallIT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CallIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CallIT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CallIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CallIT]
GO
/****** Object:  Table [dbo].[call]    Script Date: 8/15/2017 8:07:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[call](
	[id] [int] NOT NULL,
	[machineName] [nvarchar](500) NULL,
	[machineIP] [nvarchar](500) NULL,
	[sendName] [nvarchar](50) NULL,
	[sendTel] [nvarchar](50) NULL,
	[sendText] [nvarchar](50) NULL,
	[sendDatetime] [datetime] NULL,
 CONSTRAINT [PK_call] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[call_staff]    Script Date: 8/15/2017 8:07:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[call_staff](
	[id] [int] NOT NULL,
	[callId] [int] NULL,
	[staffId] [int] NULL,
	[createBy] [nvarchar](50) NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_call_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[staff]    Script Date: 8/15/2017 8:07:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id] [int] NOT NULL,
	[staffCode] [nvarchar](50) NULL,
	[fName] [nvarchar](50) NULL,
	[lName] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
